root_user_password_crypted: $6$asdflkjhaslkfjalkfka
root_user_ssh_authorized_keys:
  - ssh-rsa AAAAAAAAAAAAAAAAAAAAAA

unifi_user: USERNAME
unifi_pass: PASSWORD

ipa_user: USERNAME
ipa_pass: PASSWORD

aws_access_key:
aws_secret_key:
aws_keys_bucket:
