# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

export PS1="\e[0;31m\\u@\h:\w # \e[m"

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi
